<h1>Welcome to our HoneyPot App!</h1>
<p>Our HoneyPot App is a powerfull tool to help you identify and defend against cyber attacks.
With our advanced features and intuitive user interface, you can easily and track malicious activity on your network.</p>

<p>Ready to get started? Sign up now to start protecting your network!</p>
<%= link_to 'Sign Up', new_contact_path, class: 'btn btn-primary' %>